html , body {

}
body{
    margin: 0;
}
.container{
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
}
    
.background{
    display: flex;
}

.ground{
    background:lightgrey;
    background-size: 100%;
    position: fixed;
    width: 100%;
    height: 8vh;
    left: 0;
    bottom: 0;
    z-index: 35;
}
#myimg{
    position: fixed;
    bottom: 8%;
    left: 211px;
    height: 40vh;
    z-index: 30;
}
.scenes{
    width: 100vw;
    height: 92vh;
}
.scene1{
    background: url(img/intro.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.scene2{
     background: url(img/macintosh-fond2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.scene3{
    background: url(img/gps-fond3.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.scene4{
    background: url(img/www-fond4.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.scene5{
     background: url(img/appareilphoto-telephone-fond5.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.scene6{
    background: url(img/e-commerce-fond6.png);
    background-repeat: no-repeat;
    background-size: 100%;
}.scene7{
    background: url(img/ia-fond7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.scene8{
     background: url(img/baladeurmp3.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.scene9{
    background: url(img/googlee.png);
    background-repeat: no-repeat;
    background-size: 100%;
}.scene10{
    background: url(img/wifi-fond9.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.scene11{
     background: url(img/4g-tinder-fond15.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.scene12{
    background: url(img/iphone-app-fond13.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.scene13{
     background: url(img/insta-ipad-fond14.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.scene14{
    background: url(img/4g-tinder-fond15.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.scene15{
    background: url(img/robothumanoide-fond16.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.scene16{
    background: url(img/voitureautonome-fond17.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.scene17{
    background: url(img/fin.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#illustration{
    position: absolute; 

}
#text{
    position: absolute;
    margin: 20px;
    padding: 20px;
}
.text2{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;}
.text2.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

h2{
    color: white;
    font-size: 45px;
    font-family: Bahnschrift;
}
p{
    color: white;
    font-family: Bahnschrift;
    font-size: 25px;
}
i{
    color: white;
    font-size: 20px;
    font-family: Bahnschrift;
}
/* SCENES2 */
.illustration2{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;    width: 30vw;top: 10%;right: 15%;;}
.illustration2.fade-in{opacity: 1;transform: translateX(0);}
.text2{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;    width: 85vh; top: 45%;left: 30%;}
.text2.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES3 */
.illustration3{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;    width: 30%; right: 27%;top: 43%;}
.illustration3.fade-in{opacity: 1;transform: translateX(0);}
.text3{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;    top: 2%;left: 56%; width: 34%;}
.text3.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES4 */
.illustration4{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;    width: 23%; top: 8%; left: 38%;}
.illustration4.fade-in{opacity: 1;transform: translateX(0);}
.text4{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out; right: 23%;top: 26%; width: 21%; background: lightgrey;}
.text4.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES5 */
.illustration5{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;     width: 10%; top: 2%;left: 26%;}
.illustration5.fade-in{opacity: 1;transform: translateX(0);}
.text5{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out; bottom: 12%;right: 9%;width: 40%;}
.text5.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES6 */
.illustration6{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;    width: 30%; right: 58%;top: 10%;}
.illustration6.fade-in{opacity: 1;transform: translateX(0);}
.text6{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;     left: 45%;top: 45%;width: 40%;}
.text6.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES7 */
.illustration7.img1{ width: 14%;left: 14%; top: 15%;}
.illustration7.img2{ width: 22%; left: 24%; top: 21%;}
.illustration7{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;}
.illustration7.fade-in{opacity: 1;transform: translateX(0);}
.text7{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;    right: 2%; top: 57%; width: 53%;}
.text7.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES8 */
.illustration8{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;    width: 31%;left: 53%;top: 51%;}
.illustration8.fade-in{opacity: 1;transform: translateX(0);}
.text8{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out; right: 8%; top: 22%;width: 60%;}
.text8.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/*SCENES9*/
.illustration9{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;  width: 22%;left: 59%;top: 49%; }
.illustration9.fade-in{opacity: 1;transform: translateX(0);}
.text9{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out; width: 21%; left: 8%; top: 6%; }
.text9.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES10 */
.illustration10{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;     width: 20%; right: 20%;top: 60%;}
.illustration10.fade-in{opacity: 1;transform: translateX(0);}
.text10{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;     width: 54%;top: 20%;left: 37%;}
.text10.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES11 */
.illustration11{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;     width: 35%;left: 20%;top: 20%}
.illustration11.fade-in{opacity: 1;transform: translateX(0);}
.text11{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;    right: 10%; top: 48%;width: 40%;}
.text11.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES12 */
.illustration12{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;  bottom: 27%;right: 20%; width: 15%;;}
.illustration12.fade-in{opacity: 1;transform: translateX(0);}
.text12{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;   left: 20%; top: 20%;width: 23%}
.text12.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES13 */
.illustration13{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;    width: 20%;top: 10%;left: 20%;}
.illustration13.fade-in{opacity: 1;transform: translateX(0);}
.text13{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;    right: 2%; top: 52%; width: 50%;}
.text13.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES14 */
.illustration14{transform: translateX(50px); transition: all 2s ease-out; opacity: 0; width: 30%;right: 16%;bottom: 20%;}
.illustration14.fade-in{opacity: 1;transform: translateX(0);}
.text14{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;     width: 50%; top: 4%;left: 2%;}
.text14.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES15 */
.illustration15{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;right: 10%; width: 30%;top: 15%;}
.illustration15.fade-in{opacity: 1;transform: translateX(0);}
.text15{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;   width: 50%; top: 10%;left: 2%;}
.text15.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES16 */
.illustration16{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;    width: 30%;right: 20%; top: 26%}
.illustration16.fade-in{opacity: 1;transform: translateX(0);}
.text16{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;     bottom: 10%;left: 30%;width: 60%;}
.text16.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}


.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
  
  .li {
    transition: all 500ms ease-in;
  }
  
  .timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
  }
  
  .status {
    padding: 0px 23px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 500ms ease-in;
  }
  .status h4 {
    font-weight: 600;
  }
  .status:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
  }
  
  .li.complete .status {
    border-top: 4px solid #009FE3;
  }
  .li.complete .status:before {
    background-color: white;
    border: 2px solid #009FE3;
    transition: all 200ms ease-in;
  }
  .li.complete .status h4 {
    color: black;
  }
  












