html , body {

}

body{
    margin: 0;
}
a{
   text-decoration: none ;
   text-decoration-color: none;

}
a:active{
    color: #009FE3;
}
.rideau{
    z-index: 31;
    position: absolute;
    width: 58%;
    top: -10%;
    animation-name:rideau;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
@keyframes rideau
{ 
    10%{
        transform: translateY(20px)
    }
    100%{
        transform: translateY(-100%)

    }

}
.introtitle{
    position: relative;
    text-align: center;
    top: 10%;
    margin: 0;
}
.introtext{
    position: absolute;
    top: 20%;
    left: 4%;
    width: 56%;
}
.introtext p{
    text-align: center;
}
.rideau.n2{
    right: 0;
}
.container{
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
}
    
.background{
    display: flex;
}

.ground{
    background:lightgrey;
    background-size: 100%;
    position: fixed;
    width: 100%;
    height: 8vh;
    left: 0;
    bottom: 0;
    z-index: 35;
}
.banner{
    background: url(img/banderolleprésentation.png);
    width: 17vw;
    height: 59vh;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100%
}
#myimg{
    position: fixed;
    bottom: 8%;
    left: 211px;
    height: 40vh;
    z-index: 30;
}
.scenes{
    width: 100vw;
    height: 92vh;
}
.scene1{
    background: url(img/intro.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    

}
.scene2{
     background: url(img/macintosh-fond2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.scene3{
    background: url(img/gps-fond3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.scene3-B{
    background: url(img/gps-fond3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.scene4{
    background: url(img/www-fond4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.scene5{
    background: url(img/appareilphoto-telephone-fond5.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.scene6{
    background: url(img/e-commerce-fond6.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}.scene7{
    background: url(img/ia-fond7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.scene8{
     background: url(img/baladeurmp3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.scene9{
    background: url(img/googlee.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}.scene10{
    background: url(img/wifi-fond9.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.scene11{
     background: url(img/4g-tinder-fond15.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.scene12{
    background: url(img/iphone-app-fond13.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.scene13{
     background: url(img/insta-ipad-fond14.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.scene14{
    background: url(img/4g-tinder-fond15.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.scene15{
    background: url(img/robothumanoide-fond16.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.scene16{
    background: url(img/voitureautonome-fond17.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.scene17{
    background: url(img/intro.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
#illustration{
    position: absolute; 

}
#text{
    position: absolute;
    margin: 20px;
    padding: 20px;
}
.text2{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;}
.text2.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

h2{
    color: white;
    font-size: 45px;
    font-family: Bahnschrift;
}
p{
    color: white;
    font-family: Bahnschrift;
    font-size: 25px;
}
i{
    color: white;
    font-size: 20px;
    font-family: Bahnschrift;
}

/* SCENES1 */
.banner{ transition: all 2s ease-out; opacity: 1;}
.banner.fade-out{opacity: 0;transform: translateY(-50px);}
.introtext{ transition: all 2s ease-out; opacity: 1;}
.introtext.fade-out{opacity: 0;transform: translateY(-50px);}

/* SCENES2 */
.illustration2{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;    width: 30vw;top: 10%;right: 15%;}
.illustration2.fade-in{opacity: 1;transform: translateX(0);}
.text2{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;    width: 85vh; top: 25%;left: 20%;}
.text2.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES3 */
.illustration3{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;    width: 30%; left: 27%;top: 23%;}
.illustration3.fade-in{opacity: 1;transform: translateX(0);}
.text3{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;    top: 20%;left: 56%; width: 34%;}
.text3.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES3-B */
.illustration3-B{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;    width: 20%;left: 20% ;top: 43%;}
.illustration3-B.fade-in{opacity: 1;transform: translateX(0);}
.text3-B{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;  top: 12%; right: 7%; width: 34%;}
.text3-B.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES4 */
.illustration4{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;    width: 23%; top: 8%; left: 38%;}
.illustration4.fade-in{opacity: 1;transform: translateX(0);}
.text4{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out; right: 23%;top: 10%; width: 31%;}
.text4.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES5 */
.illustration5{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;     width: 10%; top: 32%;right: 26%;}
.illustration5.fade-in{opacity: 1;transform: translateX(0);}
.text5{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out; top:0%;left: 9%;width: 40%;}
.text5.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES6 */
.illustration6{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;    width: 30%; right: 58%;top: 10%;}
.illustration6.fade-in{opacity: 1;transform: translateX(0);}
.text6{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;     left: 45%;top: 5%;width: 40%;}
.text6.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES7 */
.illustration7.img1{ width: 14%;left: 14%; top: 15%;}
.illustration7.img2{ width: 22%; left: 24%; top: 21%;}
.illustration7{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;}
.illustration7.fade-in{opacity: 1;transform: translateX(0);}
.text7{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;    right: 2%; top: 27%; width: 53%;}
.text7.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES8 */
.illustration8{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;    width: 31%;left: 53%;top: 51%;}
.illustration8.fade-in{opacity: 1;transform: translateX(0);}
.text8{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out; right: 8%; top: 22%;width: 60%;}
.text8.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/*SCENES9*/
.illustration9{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;  width: 22%;left: 59%;top: 49%; }
.illustration9.fade-in{opacity: 1;transform: translateX(0);}
.text9{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out; width: 41%; left: 8%; top: 6%; }
.text9.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES10 */
.illustration10{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;     width: 20%; right: 20%;top: 60%;}
.illustration10.fade-in{opacity: 1;transform: translateX(0);}
.text10{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;     width: 54%;top: 10%;left: 37%;}
.text10.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES11 */
.illustration11{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;     width: 35%;left: 20%;top: 20%}
.illustration11.fade-in{opacity: 1;transform: translateX(0);}
.text11{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;    right: 10%; top: 28%;width: 48%;}
.text11.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES12 */
.illustration12{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;  bottom: 27%;right: 20%; width: 15%;;}
.illustration12.fade-in{opacity: 1;transform: translateX(0);}
.text12{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;   left: 20%; top: -11%;width: 23%}
.text12.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES14 */
.illustration14{transform: translateX(50px); transition: all 2s ease-out; opacity: 0; width: 30%;right: 16%;bottom: 20%;}
.illustration14.fade-in{opacity: 1;transform: translateX(0);}
.text14{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;     width: 50%; top: 4%;left: 2%;}
.text14.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES15 */
.illustration15{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;right: 10%; width: 30%;top: 15%;}
.illustration15.fade-in{opacity: 1;transform: translateX(0);}
.text15{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;   width: 50%; top: 0%;left: 2%;}
.text15.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}

/* SCENES16 */
.illustration16{transform: translateX(50px); transition: all 2s ease-out; opacity: 0;    width: 30%;right: 5%; top: 46%}
.illustration16.fade-in{opacity: 1;transform: translateX(0);}
.text16{opacity: 0;transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);transition: all 2s ease-out;  top:05%;left: 6%;width: 60%;}
.text16.zoom-in{ opacity: 1; transform: scale3d(1, 1, 1) translate3d(10px, 0, 0)}


.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
  
  .li {
    transition: all 500ms ease-in;
  }
  
  .timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
  }
  
  .status {
    padding: 0px 21.4px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 500ms ease-in;
  }
  .status h4 {
    font-weight: 600;
  }
  .status:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
  }
  
  .li.complete .status {
    border-top: 4px solid #009FE3;
  }
  .li.complete .status:before {
    background-color: white;
    border: 2px solid #009FE3;
    transition: all 200ms ease-in;
  }
  .li.complete .status h4 {
    color:#009FE3;
  }

  .logo{
    position: fixed;
    right: 5%;
    top: 5%;
    width: 7%;
    z-index: 20;
  }
  












